# intellij
*.iml

.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/build

.settings/
app/jniLibs/
*.bin
deepar/build/.transforms/59ecbddd893e9417551319fdc1efe8c2/deepar/jni/arm64-v8a/libnative-lib.so
deepar/build/.transforms/59ecbddd893e9417551319fdc1efe8c2/deepar/jars/classes.jar
deepar/build/.transforms/59ecbddd893e9417551319fdc1efe8c2/deepar/jni/armeabi-v7a/libnative-lib.so
deepar/build/.transforms/59ecbddd893e9417551319fdc1efe8c2/deepar/jni/x86/libnative-lib.so
deepar/build/.transforms/59ecbddd893e9417551319fdc1efe8c2/deepar/jni/x86_64/libnative-lib.so
deepar/build/.transforms/e557468c9c9040b12fc270338f1ca9d4/package-aware-r.txt
.idea/caches/build_file_checksums.ser
.idea/modules.xml
.idea/sonarlint/issuestore/0/6/06cfd81ebd3860bfe15de24324747f0f0231261e
.idea/sonarlint/issuestore/0/8/08df4495c2c9a7c6675a09d21e76360fc48cf360
.idea/sonarlint/issuestore/6/1/6132fcb11d7965b52edccf9032d7f88598cfefbe
.idea/sonarlint/issuestore/7/0/70fb21964bbd97c9e85c931996a55d2e0b5a7049
.idea/sonarlint/issuestore/7/5/75a47298e9941c57c3aeb7f9c8b2b05679905052
.idea/sonarlint/issuestore/a/4/a45066aad5117ef788070a85d420f086e2c1981c
.idea/sonarlint/issuestore/d/c/dc61663deb9ab582dfe54fd318af171d5313822f
.idea/sonarlint/issuestore/d/c/dc7daeb670587e1a03ca2fb4d2a109d61e36bb88
.idea/sonarlint/issuestore/index.pb
deepar/build/.transforms/03ffde066766f79863fdb5d93ce37e3a/package-aware-r.txt
deepar/build/.transforms/2533b58fb8234b0271861b4fa397d6c0/deepar-runtime/classes.dex
deepar/build/.transforms/53c66b9c5728dc352758ffa29d9faca5/deepar/AndroidManifest.xml
deepar/build/.transforms/53c66b9c5728dc352758ffa29d9faca5/deepar/jars/classes.jar
deepar/build/.transforms/53c66b9c5728dc352758ffa29d9faca5/deepar/jni/arm64-v8a/libnative-lib.so
deepar/build/.transforms/53c66b9c5728dc352758ffa29d9faca5/deepar/jni/armeabi-v7a/libnative-lib.so
deepar/build/.transforms/53c66b9c5728dc352758ffa29d9faca5/deepar/jni/x86/libnative-lib.so
deepar/build/.transforms/53c66b9c5728dc352758ffa29d9faca5/deepar/jni/x86_64/libnative-lib.so
deepar/build/.transforms/53c66b9c5728dc352758ffa29d9faca5/deepar/R.txt
deepar/build/.transforms/5ac74eb1cd4a36fb378d520aeadbd05d/deepar-runtime.jar
deepar/build/.transforms/857ea8c0c1faa0ce0b14cafb35581825/deepar-api.jar
