# intellij
*.iml

.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/build

.settings/
app/jniLibs/
*.txt
.idea/modules.xml
.idea/vcs.xml
deepar/build/.transforms/03ffde066766f79863fdb5d93ce37e3a.bin
deepar/build/.transforms/221f7e14f5233d89089ba9420c475221.bin
deepar/build/.transforms/2533b58fb8234b0271861b4fa397d6c0.bin
deepar/build/.transforms/2533b58fb8234b0271861b4fa397d6c0/deepar-runtime/classes.dex
deepar/build/.transforms/42d0bb67f59abef9077eb39ca22d895d.bin
deepar/build/.transforms/53c66b9c5728dc352758ffa29d9faca5.bin
deepar/build/.transforms/53c66b9c5728dc352758ffa29d9faca5/deepar/assets/body_50.bin
deepar/build/.transforms/53c66b9c5728dc352758ffa29d9faca5/deepar/assets/emo.bin
deepar/build/.transforms/53c66b9c5728dc352758ffa29d9faca5/deepar/assets/hair_50.bin
deepar/build/.transforms/53c66b9c5728dc352758ffa29d9faca5/deepar/assets/models.bin
deepar/build/.transforms/53c66b9c5728dc352758ffa29d9faca5/deepar/jars/classes.jar
deepar/build/.transforms/53c66b9c5728dc352758ffa29d9faca5/deepar/jni/arm64-v8a/libnative-lib.so
deepar/build/.transforms/53c66b9c5728dc352758ffa29d9faca5/deepar/jni/armeabi-v7a/libnative-lib.so
deepar/build/.transforms/53c66b9c5728dc352758ffa29d9faca5/deepar/jni/x86/libnative-lib.so
deepar/build/.transforms/53c66b9c5728dc352758ffa29d9faca5/deepar/jni/x86_64/libnative-lib.so
deepar/build/.transforms/5ac74eb1cd4a36fb378d520aeadbd05d.bin
deepar/build/.transforms/5ac74eb1cd4a36fb378d520aeadbd05d/deepar-runtime.jar
deepar/build/.transforms/857ea8c0c1faa0ce0b14cafb35581825.bin
deepar/build/.transforms/857ea8c0c1faa0ce0b14cafb35581825/deepar-api.jar
deepar/build/.transforms/bdb3c37db0fc9223c6610561dc4e9960.bin
deepar/build/.transforms/c2996a3ff8bb96811869909d0675d967.bin
deepar/build/.transforms/c7173c1235cffcb7d347aa0e3494ceda.bin
deepar/build/.transforms/c8a11b685414aa235f3f04bf6c33f4f6.bin
deepar/build/.transforms/e484071e2fe8dd1f58534570d1426294.bin
deepar/build/.transforms/ee666ea677fc554425c5a00f024ec9fb.bin
deepar/build/.transforms/eef2ee128eed1dea4c665927e8d6653d.bin
deepar/build/.transforms/fe24e8c3323485d3482746b10f7849b9.bin
.idea/modules.xml
.idea/modules.xml
